.banner {
    background-position: center;
    /*overflow: hidden;*/
    width: 100%;
    height: 100vh;
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .banner::before {
    
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.2);
    /*background-size: 100%;*/
  }
  
  .banner-text-item {
    position: absolute;
    width: 100%;
    text-align: center;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
  }
  
  .banner-heading {
    flex: 1;
  }
  
  .banner-heading h1 {
    font-size: px;
    font-weight: normal;
    color: black;
   
    font-family: 'Croissant One', cursive;
  }
  
          body {
              font-family: Arial, sans-serif;
               background-repeat: no-repeat;
          }
          
          .container {
              width: 600px;
              margin: 0 auto;
              padding: 20px;
              background-color: #fff;
              border-radius: 5px;
              box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
          }
  
          h1 {
              text-align: center;
              color: black;
          }
  
          .success-message {
              text-align: center;
              font-size: 24px;
              color: black;
          }
  
          .review-form {
              margin-top: 20px;
          }
  
          .form-group {
              margin-bottom: 20px;
          }
  
          label {
              display: block;
              font-weight: bold;
          }
  
          input[type="text"],
          textarea {
              width: 90%;
              padding: 10px;
              border: 1px solid #ccc;
              border-radius: 5px;
          }
  
          textarea {
              height: 150px;
          }
  
          input[type="submit"] {
              background-color: #2ec8e0;
              color: #fff;
              border: none;
              padding: 10px 20px;
              cursor: pointer;
              border-radius: 5px;
          }
  
          input[type="submit"]:hover {
              background-color: #bce5eb;
          }